<ion-card>
  <ion-card-header color="secondary">
    Logs

    <ion-icon class="pull-left" name="trash" (click)="clearLogs()"></ion-icon>
    <ion-toggle class="pull-right" checked="false" (ionChange)="enableDisableLogs()"
                [(ngModel)]="logsEnabled"></ion-toggle>
  </ion-card-header>
  <ion-card-content [hidden]="!logsEnabled">
    <ion-list [virtualScroll]="logs" approxItemHeight="20px">
      <ion-item *virtualItem="let log">
        {{log}}
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>
